section{
    width: 1300px;
    height: 650px;
    margin: auto auto;
    text-align: center;
    box-sizing: border-box;
    background-color: #ffffff;

}
.el{
    background-image: url(../img/FOTO2.jpg);
    width: 100%;

}
.Contenedor{
    width: 100%;
    margin: 0 auto;
    max-width: 2000px;
    overflow: hidden;
}
.nav{
    background-color: #CFD8DC;
}
.Menú{
    margin-left: 35px;
    
}
.caja_text{
    background-color:  #000000b0;
    width: 80%;
    height: 250px;
    float: left;
    padding: 10px;
    margin-top: 50px;
    margin-left:125px;
    border: 1px solid darkblue;
    background-position:center; 
    color: black;
    box-sizing: border-box;
}
.caja_text1{
    background-color:  #000000b0;
    width: 80%;
    height: 250px;
    margin-top: 20px;
    float: left;
    padding: 10px;
    margin-left:125px;
    border: 1px solid rgb(18, 255, 10);
    background-position:center; 
    color: black;
    box-sizing: border-box;
}
.Boton{
    width: 135px;
    height: 80px;
    border: 1px solid blue;
   background-color: rgba(0, 0, 0, 0.082);
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 465px;
}
.Text_Bot{
    color: black;
}
.text7{
    font-family: 'Pangolin', cursive;
    color:#ffffff;
    font-size: 22px;
    text-align: center;
    margin-top: 70px;
}
.text8{
    font-family: 'Pangolin', cursive;
    color:#ffffff;
    font-size: 22px;
    text-align: center;
    margin-top: 70px;
}
a{
    text-decoration: none;
    color: #ffffff;
}

@media only screen and (max-width:768px) {

    .caja_text{
        margin-left: 45px;
    }
    p2{
        font-size: 20px;
    }
    .caja_text1{
        margin-left: 45px;
        height: 320px;
    }
}
